<h1>Bienvenido a Spotify</h1>
<p>Deber <%= link_to "Ingresar", new_user_session_path %> con tu cuenta de usuario o <%= link_to "Registrarte", new_user_registration_path %> si no tienes una cuenta.</p>